/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  position: relative;
  top: -40px;
}

.createAccount-form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
  position: relative;
  top: -10px;
}

.welcome-form-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.welcome-text-margin {
  margin-bottom: 20px;
}

.signin-text-margin {
  margin-bottom: 15px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  /* text-align: center; */
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.studentID {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.userName,
.interests,
.major,
.graduatingYear {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password,
.studentID {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #fdbf5c;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #fdbf5c;
  background-color: #fff;
  border: 2px solid #fdbf5c;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

.welcomeSubmit {
  margin-left: 150px;
  margin-right: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeSubmit button {
  background-color: #fdbf5c;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.welcomeSubmit button:hover {
  color: #fdbf5c;
  background-color: #fff;
  border: 2px solid #fdbf5c;
}
.welcomeSubmit custom,
.signIn custom {
  color: black;
}

.welcomeSubmit small {
  color: #999;
  font-weight: lighter;
}

.signIn {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn button {
  background-color: #fdbf5c;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 5px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.withGoogle {
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn small {
  color: #999;
  font-weight: lighter;
}

.postPage-wrapper {
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.postPage-form-wrapper {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px rgb(209, 203, 203);
  background-color: #ffffff;
  position: relative;
  top: 10px;
}
