.iconBadge {
  position: absolute;
  bottom: 0;
  right: 0;
}

.body {
  text-indent: 10%;
}

.sideBar {
  outline-style: single;
  outline-color: lightseagreen;
  background-color: lightskyblue;
}

.yellow-square {
  background-color: #ffdc00;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.square {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.top-padding {
  height: 10px;
}

.profile-card {
  border: 1px solid grey;
  margin: 20px;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  text-align: center;
}

.profile-buttons-padding {
  margin-bottom: 10px;
}

.image-padding {
  height: 3px;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.dropdown {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon-login-square {
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.box {
  border: 1px solid black;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: white;
}

h2 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h3 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h5 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.profileButtons {
  margin-left: 150px;
  margin-right: 150px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButton {
  background-color: #fdbf5c;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.blockButton {
  background-color: #fdbf5c;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.searchButton {
}
.searchButton:hover {
  color: #fdbf5c;
  background-color: #fff;
  border: 2px solid #fdbf5c;
}
