.post {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  width: 60%;
}

.body {
  margin-top: 20px;
}

.postBody {
  margin-top: 10px;
  margin-bottom: 20px;
}

.postFooter {
  margin-bottom: 10px;
}
